* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: Segoe UI, sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
input {
  font-size: 1.2rem;
  padding: 1rem;
}
input:focus,
input:hover {
  outline: none;
}
ul,
li {
  list-style-type: none;
  padding: 0;
}
nav {
  line-height: 3;
  padding: 0 1rem;
  z-index: 1000;
  color: black;
}
section {
  width: 70vw;
  margin: 2rem auto;
  z-index: -20;
}
section h1 {
  font-size: 4.5rem;
  text-align: center;
  margin: 0;
  color: grey;
}
.error {
  color: red;
}
nav .grey {
  border-top: 0.5px solid grey;
  color: grey;
}
.underline{
  text-decoration: underline;
} 

/* header page */
.nav-link {
  display: flex;
  flex-direction: column;
  width: 25vw;
  height: 30vh;
  box-shadow: 0 15px 20px rgba(174, 173, 173, 1);
  position: absolute;
  top: 80px;
  left: 0;
  padding: 0 1rem;
  transform: translateX(0);
  transition: transform 3s ease-in;
}
.nav-link.isactive {
  transform: translateX(30vw);
}
/* home page */
.todo-input-container {
  box-shadow: 5px 10px 20px rgb(216, 212, 212);
}
.todo-input-container input {
  display: inline;
  width: 90%;
  border: none;
  color: inherit;
}
.todos-lists {
  width: 100%;
  float: left;
}
.todos-li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(230, 229, 229);
  width: 100%;
  padding: 1rem;
  margin-top: 0.5rem;
}

.todo-text input,
.todo-text p {
  display: inline;
}

.todo-text p {
  padding-left: 0.8rem;
}
.checked {
  text-decoration: line-through;
  color: grey;
}

/* about page */
.about {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  gap: 5rem;
}
.about-link {
  display: flex;
  flex-direction: column;
  line-height: 3;
  font-weight: bold;
  width: 100%;
}
/* signin page  */
.signin form {
  width: 90%;
  margin: auto;
  padding: 1.5rem;
  background-color: white;
  box-shadow: 0 15px 20px rgba(174, 173, 173, 1);
}
.signin input {
  width: 100%;
  display: block;
  border: none;
  border: 1px solid grey;
  margin-top: 1rem;
}

.signin button {
  display: block;
  background-color: gray;
  color: white;
  font-size: 1.2rem;
  padding: 1rem;
  width: 100%;
  margin-top: 0.5rem;
}

/* login page */
.login form {
  width: 90%;
  margin: auto;
  padding: 1.5rem;
  background-color: white;
  box-shadow: 0 15px 20px rgba(174, 173, 173, 1);
}
.login input {
  width: 100%;
  display: block;
  border: none;
  border: 1px solid grey;
}
.login button {
  display: block;
  background-color: gray;
  color: white;
  font-size: 1.2rem;
  padding: 1rem;
  width: 100%;
  margin-top: 0.5rem;
}
